/**
 * Navigation
 */
.navbar {
	background: rgb(3,21,83);
	background: linear-gradient(159deg, rgba(3,21,83,1) 10%, rgba(34,61,177,1) 55%, rgba(54,76,180,1) 100%);
	padding-top: 0;
	padding-bottom: 0;
}

.navbar h5 {
	color: yellow;
}

.navbar span h6 {
	color: yellow;
}

.navbar img {
	width: 60px;	
}

/**
 * Container
 */

.cont-info {
	padding-top: 80px;
	padding-left: 5px;
}

.cont-lab-info {
	height: calc(100vh - 122px);
	margin-left: 15px;
	background: rgb(26,59,4);
	background: linear-gradient(351deg, rgba(26,59,4,1) 7%, rgba(27,46,14,1) 55%, rgba(22,61,8,1) 86%);
}

.cont-lab-search {
	height: calc(100vh - 122px);
}

.cont-info label {
	font-size: 14px;
	color: white;
}

.cont-info hr {
	background-color: white;
}

.table-lab-search {
	display: none;
	font-size: 12px;
}

.txtS {
	height: 25px !important;
	font-size: 14px !important;
}

/**
 * Phone Call
 */
.enc-pc-cont {
	margin-top: 80px;
}

.container {
	height: 80vh;
	margin-left: 0;
	padding-left: 15px;
	background: rgb(23,28,79);
	background: linear-gradient(351deg, rgba(23,28,79,1) 7%, rgba(11,38,74,1) 55%, rgba(9,9,74,1) 86%);
	border-radius: 10px;
}

/*.en-li {
	padding-top: 5px;
	padding-bottom: 5px;
}*/


.en-li a {
	text-decoration: none;
	color: #ececec;
}

.en-li a:hover {
	text-decoration: none;
	color: yellow;
}

.en-li a:active {
	text-decoration: none;
	color: yellow;
}

.en-li ul {
	padding-left: 30px;
}


/**
 * Footer
 */
footer {
	background: rgb(14,21,43);
	background: linear-gradient(349deg, rgba(14,21,43,1) 10%, rgba(30,31,36,1) 55%, rgba(7,9,19,1) 100%);
}